Source: opencpn
Section: misc
Priority: extra
Maintainer: Pavel Kalian <pavel@kalian.cz>
Build-Depends: debhelper (>= 8.0.0), cmake, cdbs, libgtk2.0-dev, gettext, gpsd, gpsd-clients, libgps-dev, wx-common, libwxgtk2.8-dev, libglu1-mesa-dev, libgtk2.0-dev, wx2.8-headers, libbz2-dev, libtinyxml-dev, libsdl1.2debian
Standards-Version: 3.9.3
Homepage: http://www.opencpn.org
#Vcs-Git: git://git.debian.org/collab-maint/opencpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opencpn.git;a=summary

Package: opencpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Concise chartplotter and navigation software
 OpenCPN is a free software (GPLv2) project to create a concise chartplotter and navigation software for use as an underway or planning tool.  OpenCPN is developed by a team of active sailors using real world conditions for program testing and refinement.
